
<h2>Wishlist</h2>

<a href="" ng-click="editWishlistItem()" class="btn btn-primary">New Item</a>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Status</th>
            <th>Notes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="item in WishlistItems">
            <td>
                <a href="" ng-click="editWishlistItem(item.id)">Edit</a>
            </td>
            <td ng-bind="item.Category"></td>
            <td ng-bind="item.Status"></td>
            <td ng-bind="item.Notes"></td>
            <td>
                <a href="" ng-click="findEnded(item.id)">Edit</a>
                <a href="" ng-click="findCurrent(item.id)">Edit</a>
            </td>
        </tr>
    </tbody>
</table>