<div>
    <div class="row" ng-controller="AccountController">
        <div class="col-md-12" style="background-color: #acd3ef; border: 1px solid #0067b1;">
            Account: 
            {{authStatus.Description}}
            <button ng-click="startLogin()" ng-show="authStatus.Description==='Not logged in'" class="btn-danger">startLogin</button>
            <a href="{{authStatus.LoginUrl}}" ng-show="authStatus.Description==='Awaiting eBay Authorization'">Login at eBay Site</a>
            <button ng-click="continueLogin()" ng-show="authStatus.Description==='Awaiting eBay Authorization'" class="btn-danger">continueLogin</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Items</h2>
        </div>
        <div class="col-md-8" ng-controller="SearchController">
            <h2>Search</h2>
            <form>
                <input type="text" placeholder="Search for..." ng-model="searchTerm" />
                <input type="text" placeholder="(all categories)" ng-model="category" />
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
        </div>
    </div>
</div>