
@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

<p>In order to use this application, you must login to Ebay using your Ebay Credentials.  This is necessary to search the ebay data.</p>

<a href="/Account/GoToEbayLogin" class="btn btn-primary btn-lg">Go to Ebay Login</a>
