
@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>

<p>In order to use this application, you must login to Ebay using your Ebay Credentials.  This is necessary to search the ebay data.</p>

@Html.ActionLink("Go to Ebay Login", "ToGoEbayLogin", "Account", null, new { @class = "btn btn-primary btn-lg" })

