
@{ 
    var cachebreaker = "nocache=" + DateTime.Now;
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>@ViewBag.Title</title>

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/semantic.css" />
        <link rel="stylesheet" href="/Content/site.css?@(cachebreaker)" />
    </head>
    <body ng-app="eBayWatcher">
        <div class="ui menu fixed top">
            <a href="/" class="item">eBay Watcher</a>
        </div>
        <div>
            @RenderBody()
        </div>

        <div ng-controller="CategorySearchController" ng-cloak>

            @* Using simple dialog: https://gist.github.com/mattmeisinger/de693d6e93602c1ea442 *@
            <div class="modal-window-backdrop" ng-show="visible" ng-click="backdropClicked()">
                <div class="modal-window-content" ng-click="contentClicked($event)">
                    <h3>Find Category</h3>
                    <form ng-submit="search()">
                        Search:
                        <input type="text" ng-model="searchTerm" id="categorySearchBox" />
                        <button class="btn btn-success" ng-disabled="loading">Search</button>
                    </form>
                    <div style="padding-top: 10px;" ng-show="loading">
                        Searching eBay categories...
                    </div>
                    <div style="padding-top: 10px;" ng-show="searched && !loading">
                        <div>Found {{results.length}} results.</div>
                        <div ng-repeat="r in results">
                            <span ng-repeat="p in r.Parents">
                                <a href="" ng-click="selectItem(p)">{{p.Name}}</a>
                                <span> > </span>
                            </span>

                            <a href="" ng-click="selectItem(r)">{{r.Name}}</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script src="/Scripts/lib/angular/angular.js"></script>
        <script src="/Scripts/lib/jquery/dist/jquery.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.3/semantic.js"></script>
        <script src="/Scripts/lib/underscore/underscore.js"></script>

        <script src="/Scripts/app.js?@(cachebreaker)"></script>
        <script src="/Scripts/services/DataService.js?@(cachebreaker)"></script>
        <script src="/Scripts/Controllers/AccountController.js?@(cachebreaker)"></script>
        <script src="/Scripts/Controllers/CategorySearchController.js?@(cachebreaker)"></script>
        <script src="/Scripts/Controllers/MyListController.js?@(cachebreaker)"></script>
        <script src="/Scripts/Controllers/SearchController.js?@(cachebreaker)"></script>
        <script src="/Scripts/Controllers/UpdateItemController.js?@(cachebreaker)"></script>
    </body>
</html>
