body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.modal-window-content {
    background-color: white;
    border: 2px solid gray;
    top: 150px;
    margin: auto;
    width: 900px;
    position: relative;
    padding: 20px 30px;
}
.modal-window-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    outline: 0;
    background-color: rgba(200,200,200,0.7);
}
.ebay-thumb {
    max-height: 50px;
}